.container {
  background-color: #ffffff;
  margin-top: 30px;
  width: 70%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  margin-bottom: 20px;
  text-align: center;
  font-family: "Roboto";
}


.container .groupInput {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

@media (max-width: 523px){
  .container .groupInput {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
  }
}

.inputTask{
  flex: 1;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  outline: none;
  font-size: 20px;
  font-family: "Roboto";
}

.addTask {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.addTask:hover {
  background-color: #218838;
}

.addTask svg {
  width: 30px;
  height: 30px;
}

.list {
  list-style-type: none;
  margin-top: 20px
}

.item {
  background-color: #f9f9f9;
  border: 1px solid #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 10px;
}

.check, .delete, .edit {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 10px;
}

.check svg, .delete svg, .edit svg {
  width: 24px;
  height: 24px;
}

.check {
  color: #28a745;
}

.edit {
  color: #007bff;
}

.delete {
  color: #dc3545;
}

.completed {
  background-color: #dcedc8 !important;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}